<div class="container mt-4">
  <div class="row">
    <div class="col-md-12 mb-3">
      <form
        class="form-inline my-2 my-lg-0 justify-content-end"
        #searchform="ngForm"
        (ngSubmit)="searchForm(searchform.value)"
      >
        <input
          type="search"
          class="form-control"
          id="search"
          placeholder="Search question"
          ngModel
          #search="ngModel"
          name="search"
          required
        />
        <button
          class="btn btn-outline-dark my-2 my-sm-0 ml-1 justify-content-end"
          type="submit"
          [disabled]="!searchform.valid"
        >
          Search
        </button>
      </form>
    </div>
    <div class="col-md-2">
      <button class="btn btn-danger mt-2" [routerLink]="['/askQuestion']">
        Ask Question?
      </button>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-md-8">
              <h1>Questions list</h1>
            </div>
            <div class="col-md-4 mt-3">
              <app-pagintaion
                [pages]="QuestionPages"
                (pageNum)="paginatePage($event)"
                [currentPageNum]="currentPage"
              ></app-pagintaion>
            </div>
          </div>
        </div>
      </div>
      <hr id="divider" />
      <h2 *ngIf="questionExist == false">No results/questions !</h2>
      <div class="listQuestion" *ngFor="let item of questionList">
        <app-listquestion
          [question]="item"
          (liked)="onLiked()"
        ></app-listquestion>
      </div>
      <div class="pages">
        <app-pagintaion
          [pages]="QuestionPages"
          (pageNum)="paginatePage($event)"
          [currentPageNum]="currentPage"
        ></app-pagintaion>
      </div>
    </div>
  </div>
</div>

<!-- add userloggen to btn -->
