<div class="container mt-5" *ngIf="loggedIn == true">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <form #form="ngForm" (ngSubmit)="editQuestion(form.value, questionId)">
        <h2 style="text-align: center">Edit Question.</h2>
        <div class="form-group">
          <label for="title">Title:</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            #title="ngModel"
            ngModel
            [(ngModel)]="questiontitle"
          />
        </div>
        <div class="form-group">
          <label for="question">Ask the question:</label>
          <input
            type="text"
            class="form-control"
            id="question"
            name="question"
            #question="ngModel"
            ngModel
            [(ngModel)]="editquestion"
          />
        </div>
        <div class="alertmsg">
          <div
            class="alert alert-success"
            role="alert"
            *ngIf="alertuser == true"
          >
            {{ editMsg }}
          </div>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </div>
  </div>
</div>
